* {
    margin: 0;
    box-sizing: border-box;
}



/* --------------------hides the game page before the 'HIT IT' button is clicked-------------------- */
#game {
    display: none;
    cursor: url('./../images/microphone-1.png'), default;
}
.cursor-clicked {
    cursor: url('./../images/microphone-2.png'), default!important;
}

/* --------------------------makes the game page visible-------------------------------------------- */
#start {
    display: block;
    color: white;
}



/* ----------------------------------start page decoration------------------------------------------ */
.drill {
    text-align: center;
    margin: 50px 50px 0 50px;
    font-size: 4em;
    color: #a54f7e;
    outline: 1px;
    outline-color: #fff;
}

.span-whack {
    color: red;
}

.span-truemc {
    color: green;
}

.instructions {
    margin: 50px;
    text-align: center;
    font-size: 3em;
}

.instructions:first-of-type {
    margin-bottom: 10px;
}

.instructions:last-of-type {
    margin-top: 10px;
}

.disclaimer h6, .disclaimer p {
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    font-size: 14px;
    font-family: 'Roboto';
    color: #A9A9A9;
    text-align: center;
}

#startGame {
    margin-top: 10px;
    align-self: center;
    border-radius: 10%;
    padding-top: 12px;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 40px;
    background: #a54f7e;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/* ----------------------------------main page decoration-------------------------------------------- */
#game-board {
    width: 80%;
    height: 700px;
    border-radius: 10px;
    /*background-image: url('./images/brick-wall.jpg');*/
}

body {
    background-image: url('./../images/graffiti-wall-blackoverlay.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Sedgwick Ave Display', cursive;
}

#score {
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
    text-transform: uppercase;
}

.row {
    height: 33%;
    width: 100%;
    display: flex;
}

.col {
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 30px solid transparent;
    border-image: url('../images/custom-css-border.png') 120 repeat;
}

#game-board .row:first-child .col {
    border-bottom: 0;
}

#game-board .row:last-child .col {
    border-top: 0;
}

#game-board .row .col:first-child {
    border-right: 0;
}

#game-board .row .col:last-child {
    border-left: 0;
}

.rapper {
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
}