#game-board {
    width: 80%;
    height: 750px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-image: './images/brick-wall.jpg';
}

.row {
    border: 1px solid black;
    height: 33%;
    width: 100%;
    display: flex;
}


.col {
    border: 1px solid black;
    width: 33.3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rapper {
    width: 150px;
    height: 150px;
    background-color: black;
    border-radius: 50%;
}